

#chessboard
{
  padding:10px;
  background-color: #5A79B1;
  border:2px solid #122c52;
  border-radius: 15px;

}




.tile
{
  width: 64px;
  height: 64px;
  float: left;
  border-radius: 5px;
}

.black
{

  background-color: #385995;
}

.white
{
  background-color: #E8EBEC;

}



#player
{
  width: 40px;
  height: 40px;
  background-color: red;
  position: absolute;
  border-radius: 50%;
}

span.icon
{
  display: block;
  padding-top: 6px;
  padding-left: 3px;
  color:white;
  font-size:120%;
}

.hover
{
  -webkit-box-shadow: inset 0px 0px 5px 5px rgba(50, 150, 25, .5);
  box-shadow: inset 0px 0px 5px 5px rgba(50, 150, 25, .5);
}

.smoothmove
{
  -webkit-transition: top 0.35s ease-in-out, left 0.35s ease-in-out;
  -moz-transition: top 0.35s ease-in-out, left 0.35s ease-in-out;
  -ms-transition: top 0.35s ease-in-out, left 0.35s ease-in-out;
  -o-transition: top 0.35s ease-in-out, left 0.35s ease-in-out;
  transition: top 0.35s ease-in-out, left 0.35s ease-in-out;
}

.smoothfade
{
  -webkit-transition: box-shadow 0.25s ease-out;
  -moz-transition: box-shadow 0.25s ease-out;
  -ms-transition: box-shadow 0.25s ease-out;
  -o-transition: box-shadow 0.25s ease-out;
  transition: box-shadow 0.25s ease-out;

  -webkit-transition: background-color 0.25s ease-in time;
  -moz-transition: background-color 0.25s ease-in time;
  -ms-transition: background-color 0.25s ease-in time;
  -o-transition: background-color 0.25s ease-in time;
  transition: background-color 0.25s ease-in time;
}
*{
  margin: auto;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  background-color: #FEFEFE;
  margin: 35px 0 0 0;
}
.main{
  display: grid;
}
.controller{
  margin-top: 50px;
  height: 100px;
  width: 200px;
  background-color: #E6E6E6;
  position: relative;
  box-shadow: 15px 15px 15px rgba(0,0,0,0.2);
}

.controllerLeft{
  height: 125px;
  width: 125px;
  background-color: #E6E6E6;
  position: absolute;
  border-radius: 100%;
  margin-left: -65px;
  box-shadow: -15px 8px 15px rgba(0,0,0,0.2);
}

.controllerRight{
  height: 125px;
  width: 125px;
  background-color: #B8B8B8;
  position: relative;
  border-radius: 100%;
  margin-right: -65px;
  border: solid 15px rgba(230, 230, 230,1);
  box-shadow: 15px 8px 15px rgba(0,0,0,0.2);
}

.circle{
  height: 75px;
  width: 75px;
  background-color: #E6E6E6;
  position: absolute;
  border-radius: 100%;
  border: solid 5px rgba(184, 184, 184, 1);
  margin-left: 21px;
  margin-top: 25px;
}

.crossCenter{
  background-color: rgba(51, 51, 51, 0.34);
  width: 17px;
  height: 17px;
  margin-top: 55px;
  margin-left: 50px;
  position: relative;
}
.crossCircle{
  background-color: rgba(51, 51, 51, 0);
  width: 12px;
  height: 12px;
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.crossTop{
  background-color: rgba(51, 51, 51, 0.34);
  width: 17px;
  height: 17px;
  position: absolute;
  border-radius: 15%;
  margin-top: -15px;
}

.crossBottom{
  background-color: rgba(51, 51, 51, 0.34);
  width: 17px;
  height: 17px;
  position: absolute;
  border-radius: 15%;
  margin-top: 15px;
}

.crossLeft{
  background-color: rgba(51, 51, 51, 0.34);
  width: 17px;
  height: 17px;
  position: absolute;
  border-radius: 15%;
  margin-left: -15px;
}

.crossRight{
  background-color: #333333;
  width: 17px;
  height: 17px;
  position: absolute;
  border-radius: 15%;
  margin-left: 15px;
}

.centerBlue{
  position: absolute;
  width: 45px;
  height: 10px;
  margin-left: 75px;
  margin-top: 15px;
  background-color: #0099FF;
  border-radius: 0 15px 0 15px;
}



.backButton1Center{
  position: absolute;
  width: 40px;
  height: 25px;
  background-color: #E6E6E6;
  -webkit-transform: rotate(-30deg);
  margin-top: 25px;
  margin-left: 22px;
}

.backButton2Center{
  position: absolute;
  width: 40px;
  height: 25px;
  background-color: #E6E6E6;
  -webkit-transform: rotate(-30deg);
  margin-top: 55px;
  margin-left: 38px;
}

.cornerLeft1{
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #00B800;
  border-radius: 100%;
  margin-left: -10px;
  border: solid 5px rgba(230, 230, 230, 1)
}

.cornerRight1{
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #6699FF;
  border-radius: 100%;
  margin-left: 30px;
  border: solid 5px rgba(230, 230, 230, 1)
}

.cornerLeft2{
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #CFCF00;
  border-radius: 100%;
  margin-left: -10px;
  border: solid 5px rgba(230, 230, 230, 1)
}


.cornerRight2{
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #7D230D;
  border-radius: 100%;
  margin-left: 30px;
  border: solid 5px rgba(230, 230, 230, 1)
}

.centerStart{
  background-color: #B8B8B8;
  position: absolute;
  height: 20px;
  width: 6px;
  margin-left: 90px;
  margin-top: 55px;
  -webkit-transform: rotate(20deg);
  border-radius: 18px;

}

.centerSelect{
  background-color: #B8B8B8;
  position: absolute;
  height: 20px;
  width: 6px;
  margin-left: 102px;
  margin-top: 55px;
  -webkit-transform: rotate(20deg);
  border-radius: 18px;


}


.mt-70{

  margin-top: 70px;



}


.cable{
  background-color: black;
  width: 5px;
  height: 75px;
  position: absolute;
  margin-left: 6.9%;
  margin-top: -50px;
  box-shadow: 7px 8px 15px rgba(0,0,0,0.2);
}

.float-right{
  float: right;
}
.d-flex{
  display: flex ;
  margin-left:25px ;
  padding-bottom: 25px;
  margin-right: 25px;
}
@media (max-width: 800px) {
  .d-flex{
    margin-top: 50px;
    display: grid;

  }
}
